<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="bookRepository" class="com.amit.book.inventory.repository.BookRepository">
    </bean>

    <bean id="bookService" class="com.amit.book.inventory.service.BookService">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <bean id="bookController" class="com.amit.book.inventory.controller.BookController">
        <constructor-arg ref="bookService"/>
    </bean>


    <bean id="customerRepository" class="com.amit.book.inventory.repository.CustomerRepository">
    </bean>

    <bean id="customerService" class="com.amit.book.inventory.service.CustomerService">
        <constructor-arg ref="customerRepository"/>
    </bean>

    <bean id="customerController" class="com.amit.book.inventory.controller.CustomerController">
        <constructor-arg ref="customerService"/>
    </bean>


    <bean id="supplierRepository" class="com.amit.book.inventory.repository.SupplierRepository">
    </bean>

    <bean id="supplierService" class="com.amit.book.inventory.service.SupplierService">
        <constructor-arg ref="supplierRepository"/>
    </bean>

    <bean id="supplierController" class="com.amit.book.inventory.controller.SupplierController">
        <constructor-arg ref="supplierService"/>
    </bean>

</beans>